{% extends './base.html' %}
{% block title %}chage-password{% endblock title %}
{% block main-content %}
<div class='container bg-white mt-5'>
    <h4 class='bg-warning text-danger p-3'>Chage your password</h4>
    <div class="container p-5">
        <form action="http://127.0.0.1:8000/forget-verification/change-password/" method="post">
            {% csrf_token %}
            <input type="hidden" name="username" value='{{username}}'>
            <label for="">Password</label>
            <input type="password" name="password" id="" placeholder='password' class='form-control'>
            <label for="">Confirm</label>
            <input type="password" name="con-password" id="" placeholder='confirm password' class='form-control'>
            <input type="submit" value="submit" class='btn btn-primary mt-3'>
        </form>
    </div>
</div>
{% endblock main-content %}