{% extends './base.html' %}
{% block title %}forget password{% endblock title %}
{% block main-content %}

<div class="container bg-white mt-5">
    <h5 class='text-danger bg-warning p-3'>Forgot Password</h5>
    <p>Please enter your Username</p>
    <div class="container p-5">
        {% if messages %}
        {% for message in messages %}
        <span {% if message.tags %} class='text-{{message.tags}}'{% endif %}>{{message}}</span>
        {% endfor %}
        {% endif %}
        <form action="" method='POST'>
            {% csrf_token %}
            <label for="">Username</label>
            <input type="text" name="username" id="" placeholder='username' class='form-control'>
            <input type="submit" value="Submit" class='btn btn-primary mt-3'>
            <a href="{% url 'login' %}" class='btn btn-warning mt-3'>Cancle</a>
        </form>
    </div>
</div>

{% endblock main-content %}